.body{
  font-family: 'Lato', sans-serif;
  color:#747704;
  font-weight: 300;
}
.logo{
  width:400px;
  height:120px;
  margin-top: 20px;
}
.divide-line{
  color:#7d97ad;
}
.main-image{
  width:1100px;
  height:400px;
}
.text-featured{
  font-size: 50px;
  font-weight: 150;
  color:#7d97ad;
}
.image{
  width:350px;
  height:300px;
}
.text-thin{
  font-weight: 100;
  font-size: 50px;
  color:#2d3c49;
}
.text-small{
  font-weight: 500;
  color:#2d3c49;
}
.text-uppercase{
  font-size: 35px;
  color:#2d3c49;
}
.text-link{
  font-size:20px;
  color:#2d3c49;
}
